/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* general */
body{
    font-family: "Open Sans", sans-serif;
}
h1{
    font-size: 5em;
}

header{
    background-color: red;
    width: 100%;
}

nav{
    padding: 20px;
    width: 100%;
}

#hero{
    background-color: green;
}
#left{
    width: 30%;
}

#right{
    width: 70%;
}
#right img{
    width: 100%;
} 

main{
    background-color: grey;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

/* subscription section */
.subscription{
    width: calc(100% / 3 - 20px);
}

footer{
    background-color: blue;
}
/* utility flex */

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}